.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
Pipfile*.*
/.settings
/htmlcov
/build
/dist
/docs/_build
/references
/pyrtcm_*
/pyrtcm-*
/pyrtcm.egg*
/__pycache__
/.dbeaver
/pyrtcm/__pycache__
/tests/__pycache__
*.pyc
/examples/rtcmsandpit.py
/examples/temp*.py
/examples/*.log
/.pytest_cache/
pylint_report.txt
venv
